<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a href="{% url 'products' %}" class="logo-font font-weight-bold nav-link text-black mr-5"  id="all-wines-link" aria-haspopup="true" aria-expanded="false">
                All Wines
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="red-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Red
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="white-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                White
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="rose-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rose
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bubbles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bubbles
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="everything-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Everything Else
            </a>
        </li>

    </ul>
</div>