<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a href="{% url 'products' %}" class="logo-font font-weight-bold nav-link text-black mr-5" data-toggle="dropdown" id="all-wines-link" aria-haspopup="true" aria-expanded="false">
                All Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-wines-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=origin&direction=desc" class="dropdown-item ">By Origin</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item">
            <a href= "{% url 'products' %}?category=red" class="logo-font font-weight-bold nav-link text-black mr-5" id="red-link" aria-haspopup="true" aria-expanded="false">
                Red
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=white" class="logo-font font-weight-bold nav-link text-black mr-5" id="white-link"  aria-haspopup="true" aria-expanded="false">
                White
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=rose" class="logo-font font-weight-bold nav-link text-black mr-5" id="rose-link"  aria-haspopup="true" aria-expanded="false">
                Rose
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=bubbles" class="logo-font font-weight-bold nav-link text-black mr-5" id="bubbles-link"  aria-haspopup="true" aria-expanded="false">
                Bubbles
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=everything_else" class="logo-font font-weight-bold nav-link text-black mr-5"  id="everything-link" aria-haspopup="true" aria-expanded="false">
                Everything Else
            </a>
        </li>

    </ul>
</div>